body {
    background-color: #f4f6f8;
    color: #2b2b2b;
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background: white;
    border-radius: 20px;
    border: solid white 1px;
}

.titulo{
  font-weight: 1000;
  font-size: 45px;


}

h1 {
    text-align: center;
    color: #2a3d50;
    margin-bottom: 5px;
}


h2 {
    color: #1f6fb2;
    margin-top: 25px;
}


h3 {
    color: #2c3e50;
    margin-top: 20px;
}


hr {
    margin: 20px 0;
}


p {
    margin: 5px 0;
}


strong {
    color: #000;
}


p span {
    font-weight: bold;
}